{% extends '_layouts/base.html.twig' %}

{% set prod = '' %}
{% for product in data.products if product.en.slug == url_params.product_slug %}
    {% set prod = product %}
{% endfor %}

{% block languages %}
    <ul class="languages">
        <li{% if locale == 'cs_CZ' %} class="active"{% endif %}><a href ="{{ path(page, { 'product_slug': prod.cs.slug }, 'cs_CZ') }}">Cs</a></li>
        <li{% if locale == 'en_US' %} class="active"{% endif %}><a href ="{{ path(page, { 'product_slug': prod.en.slug }, 'en_US') }}">En</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>{{ prod.en.name }}</h2>
    <p>{{ prod.en.desc }}</p>
    <img src="{{ image('images/' ~ prod.image) }}" class="img-responsive" />
{% endblock %}
